body {
	background-color: #EEEEEE;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #DDDDDD;
	color: #000000;
}

a {
	color: #000000;
}

a:hover {
	color: #000000;
}

#btn_them {
	background-color: #222222;
	color: #FFFFFF;
}

#btn_them:hover {
	background-color: #555555;
	color: #FFFFFF;
}